<% const categoryPath = config.category_dir.split("/").filter((path) => path) %>
<% const paginationPath = config.pagination_dir.split("/").filter((path) => path) %>
<% const postsPath = (theme.posts_path || "/posts").replace(/\/$/, "") %>
<% const categories =
    page.path.split("/").slice(categoryPath.length,
    page.path.split("/").length - 1 - (page.current > 1 ? paginationPath.length + 1 : 0)) %>

<% const blogTitle = config.title || __("titles.blogDefault") %>
<% const title = is_home()
    ? ""
    : is_page() || is_post()
    ? page.title || __("titles.postDefault")
    : is_archive()
    ? __("titles.archive")
    : is_category()
    ? this_category_tree(categories, site.categories, categories.length)
        .map((category) => category.name).join("/") + "/"
    : is_tag()
    ? "# " + page.tag
    : is_current(postsPath)
    ? __("titles.posts")
    : is_current("/" + locals.config.tag_dir)
    ? __("titles.tags")
    : is_current("/" + locals.config.category_dir)
    ? __("titles.categories")
    : "" %>
<% const stylesheets = is_home()
    ? ["index.css"]
    : is_page()
    ? ["page.css"]
    : is_post()
    ? ["post.css"]
    : is_archive()
    ? ["archive.css"]
    : is_current(postsPath)
    ? ["posts.css"]
    : is_current("/" + locals.config.category_dir)
    ? ["categories.css"]
    : [] %>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<% if (theme.favicon) { %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>" sizes="any" />
    <link rel="icon" href="<%- url_for(theme.favicon) %>" type="image/svg+xml" />
    <link rel="shortcut icon" href="<%- url_for(theme.favicon) %>" />
<% } %>

<style>
    :root {
        --latin-font: <%- theme.latin_font || "'SF Pro Text', 'Segoe UI', Arial" %>;
        --cjk-font-sans: <%- theme.cjk_font_sans || "'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Noto Sans CJK SC', sans-serif" %>;
        --cjk-font-serif: <%- theme.cjk_font_serif || "'Songti SC', 'STSong', 'SimSun', 'Noto Serif CJK SC', serif" %>;
        --cjk-font: <%- (theme.cjk_font_default === "serif" ? "var(--cjk-font-serif)" : "var(--cjk-font-sans)") %>;
    }

    body {
        font-family: var(--latin-font), var(--cjk-font);
    }
</style>

<%- css("styles/main.css") %>
<% stylesheets.forEach((stylesheet) => { %>
    <%- css("styles/" + stylesheet) %>
<% }) %>

<title><%= title + (title ? " - " : "") + blogTitle %></title>
